@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Wix Madefor Text";
}

.sidebarfont {
  font-family: "Nunito Sans", sans-serif;
}

.nav {
  box-shadow: 0px 4px 6px 0px #0000000f;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}
